*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}


header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/bg-2.jpg);
    background-size: cover;
    background-position:center;
    color: white;
   
    
}

.nav{
    width: 100%;
    margin: auto;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 215, 215);
    position: fixed;
    top: 0;
    
    
   
}
.nav h1{
   
    margin-left: 136px;
    padding:10px 256px 10px 0px;
    border-right: 1px solid white;
    font-weight:300
}

.nav ul{
    margin-right: 145px;
    
}

.nav ul li {
    display:inline-block;
    text-decoration: none;

}
.nav ul li a{
    text-decoration: none;
    color: white;
    padding: 22px 26px 22px 25px;
    border-right: 1px solid white;
    font-weight: 300;
   
     
}

.header-text{
    position: absolute;
    text-align: center;
    margin-top: 260px;
    margin-left: 30%;
}
.header-text h1{
   font-weight: 500;
   font-size: 25px;
}
.header-text h2{
   
    font-size: 80px;
    
}
.header-text h3{
    
    font-size: 30px;
}

.header-icon{
  
    float: right;
    margin-top: 550px;
    margin-right: 60px;
    align-items: center;
}
.header-icon i{
    color: rgb(8, 8, 8);
    width: 17px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    background-color: white;
}
.scroll{
    float: left;
    margin-top: 550px;
    margin-left: 60px;
    
}
.scroll p :hover{
    color: tomato;
}


/* header part done */
.about_part{
    display: flex;
    width: 100%;
    height: 900px;
    margin: 0 auto;
  
    
}

.imge{
    /* position: relative; */
    width: 40%;
    background: #DC965A;
    background-size: 100px;
    
}

.imge img{
    width: 100%;
    margin: 124px 112px;
    border: 10px solid #fff;
   
}
.about_content{
   display: inline-block;
   position: relative;
   text-align: start;
   top: 230px;
   left: 190px;
   /* background: chartreuse; */
   height: 220px;
 
}

.about_content p{
    display: inline-block;
    margin-top: 20px;
  
}
.cv_part{
    width: 230px;
}


.left_side {
    position: relative;
    top: 500px;
    /* background: chartreuse; */
    right:380px;
    width: 215px;
    line-height: 40px;

}
.right_side {
    position: relative;
    top: 337px;
    /* background: chartreuse; */
    right: 30px;
    width: 200px;
    line-height: 40px;
}

.media p{
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 15px
}
.media{
    display: flex;
    justify-items: flex-start;  
    
}
.media label{
    margin: 0;
    color: #090a0c;
    font-weight: 700;
    font-size: 15px;
    flex: 0 0 84px;
    border-right: 1px solid #c1c1c1;
    max-width: 90px;
}
}
.media p{
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 15px;
}
.button{
    display: flex;
    position: relative;
    top: 372px;
    right: 381px;
    height: 100px;
    width: 200px; 
    height: 46px;
    
}
.button button{
    background: #DC965A;
    padding: 0 25px;
    line-height: 46px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(247, 241, 241, 0.25);
    cursor: pointer!important;
    color: white;
}
.button button:hover{
    background-color: black;
    
   
}
/* part 2 done  */
/* part 3 start  */

.Services{
    background: #f0dece;
    width: 100%;
    height: 1050px;
    display: grid;
    grid-column-start: 1;
    grid-column-end:   4;
    justify-content: center;
   
}
.Services_text{
    text-align: center;
    top: 110px;
    position: relative;
    

}
.Services_text hr{
    width: 40px;
    height: 2px;
    margin: 0 auto;
    background: chocolate;
    position: relative;
    top: 10px;
}
.Services_text p{
    position: relative;
    top: 30px;
}
.Services_icon{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   grid-gap: 20px;
   
   
}
.services_box{
    background-color: #FFFFFF;
    height: 333px;
    width: 360px;
   
}
.services_box img{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 50px;
    margin-bottom: 20px;
    position: relative;
    left: 35px;
    top: 40px;

}
.services_box h2{
    position: relative;
    left: 35px;
    top: 40px;
    
}
.services_box p{
    position: relative;
    left: 35px;
    top: 40px;
    width: 267px;
    
}

/* part 3 end  */
/* part 4 start  */

.Services_1{
    background: #FFFFFF;
    width: 100%;
    height: 550px;
    display: grid;
    grid-column-start: 1;
    grid-column-end:   4;
    justify-content: center;
   
}
.Services_head hr{
    width: 40px;
    height: 2px;
   
    background: chocolate;
    position: relative;
    top: 10px;
}
.Services_head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 20px;  
    top: 72px;
    position: relative;
    grid-template-rows: 6px;
 }
 .services_img{
    background-color: coral;
    height: 424px;
    width: 357px;
    line-height: 30px;
    
}
.services_img h5{
    width: 87px;
    height: 25px;
    background: black;
    color: white;
    border-radius: 17px;
    text-align: center;
    position: relative;
    left: 35px;
    top: 40px;
}
.services_img h4{

    position: relative;
    left: 35px;
    top: 40px;
}
.services_img p{
    position: relative;
    left: 35px;
    top: 40px;
   text-align: left;
}
.services_img hr{
    width: 280px;
    position: relative;
    left: 35px;
    top: 40px;
    height: 1px;
}
.services_img-3{
    background: #FFF5EC;
    height: 424px;
    width: 357px;
    line-height: 30px;
}
.bar{
    /* line-height: 35px; */
    width: 300px;
    position: relative;
    left: 35px;
    top: 40px;
    

}
.bar progress{
    width: 200px;
    height: 10px;
    background: #DC965A;
    
}
/* nd 4 part  */ */
/* <!-- part 5 start  --> */

.Services_text a{
    text-decoration: none;
    padding: 13px;
}
a{
    text-decoration: none;
    padding: 13px;
}


.Services_2{
    background: #FFF5EC;
    width: 100%;
    height: 1700px;
    display: grid;
    grid-column-start: 1;
    grid-column-end:   4;
    justify-content: center;
    margin-top: 30px;
   
}
.Services_icon-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 20px; 
    margin-top:30px;
}
.big_img{
    background: #FFFFFF;
    height: 505px;
    width: 357px;
}
.big_img h2{
    position: relative;
    left: 24px;
    top: 11px;
}
.big_img p{
    position: relative;
    left: 24px;
    top: 11px;
}

.big_img img{
    width: 313px;
    height: 408px;
    position: relative;
    left: 24px;
    top: 20px;
}

/* <!-- end part 5  --> */
        /* <!-- start part 6  --> */

.selaydar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 300px;
    grid-column-start: 1;
    grid-column-end:   4;
    margin-top: 200px;
    justify-items: center
}
.start{
    width: 129px;
    height: 139px;
    border: 2px solid orange;
    margin-top: 30px;
   justify-self: center;
}
.star{
    width: 300px;
    height: 300px;
    justify-self: start
    
  
}
.start img{
    width: 129px;
    padding-left: 12px;
    position: relative;
    bottom: 17px;
    height: 139px;
    
}
.star{
    width: 300px;
    height: 300px;
    justify-self: start
  
}

.star i{
    background: wheat;
    border-radius: 10px;
    width: 50px;
    height: 20px;
}
.star p{
    width: 226px;
}
/* end 6  */
/* start 7  */
.Services-last{
    background: #f0dece;
    width: 100%;
    height: 700px;
    display: grid;
    grid-column-start: 1;
    grid-column-end:   4;
    justify-content: center;
   
}
.blog_box{
    position: relative;
    width: 350px;
}
.blog_img img{
    width: 356px;
    height: 200px;
}
.data{
    position: absolute;
    top: 20px;
    left: 10px;
    background: #fff;
    padding: 8px 10px;
    line-height: 1;
    text-align: center;
    z-index: 1;
}
.datan span{
    width: 100%;
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    line-height: 1;
    margin: 0;
    color: #1c1d24;
}
.data small{
    width: 100%;
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    line-height: 1;
    margin: 0;
    color: #1c1d24;
}
.blog_text{
    padding: 20px;
    margin: -30px 10px 0;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    position: relative;
    overflow: hidden;
    background: #fff;
}
/* end  */
.about_part-last{
    display: flex;
    width: 100%;
    height: 900px;
    margin: 0 auto;
  
    
}

.submet_cv{
    /* position: relative; */
    width: 40%;
   
    background: #DC965A;
    background-size: 100px;
    
}
.text_cv{
    background: #cec7c7;
    width: 100%;
    height: 506px;
    margin: 124px 112px;
    border: 10px solid rgb(204, 199, 199);
}
.text_cv h2{
    position: relative;
    top: 30px;
    left: 27px;
}
.input_text{
    background: #FFFFFF;
    width: 480px;
    height: 407px;
    position: relative;
    top: 41px;
    left: 28px;
}
.text_cv hr{
    width: 40px;
    height: 2px;
    /* margin: 0 auto; */
    background: chocolate;
    position: relative;
    top: 30px;
    left: 27px;

}
.input_text input{
    width: 193px;
    height: 30px;
    position: relative;
    left: 40px;
    top: 60px;
}
#text{
    width: 394px;
    height: 50px;
    position: relative;
    left: 40px;
    top: 92px;
}
.input_text textarea{
    width: 396px;
    height: 77px;
    position: relative;
    left:41px;
    top: 118px;
}
.input_text button{
    width: 211px;
    height: 50px;
    position: relative;
    left: 41px;
    top: 147px;
    background: #DB955A;
    cursor: pointer;
}
button:hover{
    background: #090a0c;
    color: white;
}
.about_content_last{

        display: inline-block;
        position: relative;
        text-align: start;
        top: 200px;
        left: 190px;
        height: 220px;
}
.Contact_us{
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr; */
}
/* cv part end  */
    
/* part 8 start  */
.footer{
    display: grid;
    justify-content: space-between;
    background: black;
    grid-template-columns: 1fr 1fr;
}
.header-icon-last{
  
    float: left;
    margin-top: 50px;
    margin-right: 60px;
    align-items: center;
}
.header-icon-last i{
    color: wheat;
    width: 17px;
    /* padding: 10px; */
    text-align: center;
    /* border-radius: 30px; */
    /* background-color: white; */
    position: relative;
    left: 35px;
    bottom: 30px;
}
.copyright p{
  
    color: blanchedalmond;
    position:relative;
    top: 35px;
    left: 283px;
}

  




